:root {
    --bs-primary: #1C5700;
    --bs-secondary: #FED33A;
    --bs-dark: #002301;
}

.text-bg-primary {
    color: #fff !important;
    background-color: #1C5700 !important;
  }

body {
    /*Change Default Font*/
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}