:root {
    --bs-primary: #1C5700;
    --bs-secondary: #FED33A;
    --bs-dark: #002301;


    /*custom colors*/
    --text-color: #2F1C00;
    --text-accent: #387f31;
    --hover-light: #d0e8c6;
    --hover-neutral: #9ED087;
    --hover-dark: #013804;

    --card-background: #f5f5f5;
    --card-background-dark: #1d2e1c65;


    --transparent: #ffffff00;

    /*accordion dummmist fix*/
    --bs-primary-bg-subtle: var(--transparent);

    /*Rundheit von allem*/
    --corner-rounding: 40px;

}

html {
    /*Change Default Font*/
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

body {
    color: var(--text-color);
    overflow-x:hidden
}

div {
    scroll-margin-top: 12vh;
}

/*=========================== Headlines and text colors ===========================*/
h1 {
    font-family: "Lexend Giga", sans-serif;
    font-weight: 800;
}

h2 {
    font-family: "Lexend Giga", sans-serif;
    font-weight: 700;
}

h3 {
    font-family: "Lexend Giga", sans-serif;
    font-weight: 700;
}

h4 {
    font-family: "Lexend Giga", sans-serif;
    font-weight: 700;
}

h5 {
    font-family: "Lexend Giga", sans-serif;
    font-weight: 700;
}

p {
    font-size: 1.25em;
    font-weight: 400;
}

.text-accent {
    color: var(--text-accent);
}

/*=========================== img-text-card ===========================*/
.img-text-card {
    border-radius: var(--corner-rounding);
    border-width: 0;
    background-color: var(--card-background);
}

.img-text-card img {
    object-fit: cover;
    border-radius: var(--corner-rounding) 0 0 var(--corner-rounding);
    width: 100%;
    height: 100%;
    max-height: 40rem;
}

.img-text-card .card-title {
    padding-bottom: 2rem;
}

/*corrigiert die Rundungen bei vert. gestapelter karte*/
@media (max-width: 768px) {
    .img-text-card img {
        border-radius: var(--corner-rounding) var(--corner-rounding) 0 0;
    }
}

.img-text-card .card-bild {
    padding: 0;
}

.img-text-card .card-text {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*=========================== accordion ===========================*/
.accordion-item {
    background-color: var(--transparent);
    border-width: .1rem !important;
    border-color: #dcdcdc !important;
    border-radius: var(--corner-rounding) !important;
}

div.accordion-item:first-of-type {
    border-radius: var(--corner-rounding) !important;
    border-width: 0px !important;

}

#accordionLeistungen {
    background-color: var(--card-background);
    border-radius: var(--corner-rounding) !important;
}

.accordion-item h2 {
    margin: 0;
}

.accordion-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
    font-size: 1.25rem;
}


.accord-bild {
    object-fit: cover;
    border-radius: var(--corner-rounding);
    width: 100%;
    height: 100%;
    max-height: 14rem;
    transition: all 2s ease-in-out 1s;
}

.accordion-header {
    background-color: var(--transparent);
    border-radius: var(--corner-rounding);
    border-color: var(--transparent);
}

.accordion-button {
    background-color: var(--transparent);
    border-radius: var(--corner-rounding);
    border-color: var(--transparent);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color);
}

.accordion-button:hover {
    background-color: var(--hover-light);
    border-color: var(--transparent);
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
    color: var(--text-color);
}

/*=========================== navbar ===========================*/
.placeholderNavbar {
    /*wirkt als platzhalter! muss selbe höhe haben wie navbar*/
    min-height: 7rem !important;
}

.navbar {
    left: 1rem;
    right: 1rem;

    min-height: 40px !important;
    max-width: 1400px;

    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: .75rem;

    background-color: rgba(255, 255, 255, 0.9) !important;
    backdrop-filter: blur(8px) saturate(130%) brightness(200%) ;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: var(--corner-rounding);
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-left: 2rem;
    }

    .navbar-brand > img {
        height: 24px;
    }

    .navbar {
        left: .5rem;
        right: .5rem;
        
        margin-top: .5rem;
        padding-top: .5rem;
        padding-bottom: .5rem; 
    }
}

.navbar-nav {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


.navbar-toggler {
    border: none;
    margin-right: 2rem;
}

.nav-link {
    border-radius: var(--corner-rounding);
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.15rem;
    font-family: "Lexend", sans-serif;
    font-variation-settings: 'WGHT' 500;
}

.nav-link:hover {
    background-color: var(--hover-light);
    border-radius: var(--corner-rounding);
    transition: background-color 0.3s ease-out;
    transition: font-weight .3s ease-in-out;
    font-weight: 500;
}

.active {
    font-weight: 550;
}

/*=========================== Buttons ===========================*/
.btn {
    border-radius: var(--corner-rounding);

}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    font-weight: 600;
    font-size: 1.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: var(--bs-primary) !important;
    border-color: var(--transparent) !important;
}

.btn-primary:hover {
    background-color: var(--hover-dark) !important;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
    font-weight: 700;
    font-size: 1.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: var(--hover-light) !important;
    border-color: var(--transparent) !important;
    color: var(--hover-dark);
}

.btn-secondary:hover {
    background-color: var(--hover-neutral) !important;
    color: var(--bs-primary);
}

.btn-link,
.btn-link:active,
.btn-link:visited {
    background-color: var(--transparent) !important;
    border-color: var(--transparent) !important;
    color: var(--bs-primary);
}

.btn-link:hover {
    background-color: var(--hover-light) !important;
    color: var(--bs-primary);
}

.btn-light,
.btn-light:active,
.btn-light:visited {
    font-weight: 700;
    font-size: 1.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: --White !important;
    border-color: var(--transparent) !important;
    color: var(--hover-dark);
}

.btn-light:hover {
    background-color: var(--hover-light) !important;
    color: var(--bs-primary);
}



/*=========================== Kachel Komponente ===========================*/

.kachel img {
    object-fit: cover;
    border-radius: var(--corner-rounding);
    max-height: 30vh;
    min-height: 20rem;
    width: 100%;
    height: 100%;
}

/*=========================== Textfeld Komponente ===========================*/
.textblock {
    border-radius: var(--corner-rounding);
    background-color: var(--card-background);
    padding: 4rem 2rem;
}

/*=========================== Hero ===========================*/

.hero-img {
    max-height: 500px;
}

.hero-gradient{
    width: 100vw;
    height: 40rem;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    background: linear-gradient(90deg, rgba(24, 54, 1, 0.8) 40%, rgba(34, 78, 0, 0.0) 90%); 
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    
}

.hero-background {
    width: 100vw;
    height: 40rem;
    position: absolute;
    z-index: -2;
    object-fit: cover;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    object-position: 100% 30%; /* hiermit bild verschieben sodass es passt*/
}

.fullscreen{
    position: relative;
}

.hero-text {
    color: white;
    position: relative;
}

.hero {
    border-radius: var(--corner-rounding);
    position: relative;
    height: 40rem;
    
}

 @media (max-width: 768px) {
    .hero-text {
        padding: 5rem 3rem;
        margin-top: auto;
    }
    .hero-background {

        object-position: 70% 50%; /* hiermit bild verschieben sodass es mobile passt*/
        object-fit: cover;
        
    }

    .hero {
        padding: 0;
        margin: 0;
        height: 40rem;
    }

    .hero-gradient{
        background: linear-gradient(0deg, rgba(24, 54, 1, 0.858) 30%, rgba(34, 78, 0, 0.2)80%);  
    }
} 
 

/* @media (max-width: 768px) {
    .hero {
        padding-top: 5rem;
        height: 35rem;
    }

    .hero-img {
        position: relative;
        height: 25rem;
        left: 20%;
        top: -20%;
        z-index: -1;
        overflow: hidden;
    }
} */


/*=========================== contact ===========================*/

.top-center-img {
    object-position: 50% 0%; /* hiermit bild verschieben sodass es passt*/
}

.kontakt-bild {
    object-fit: cover;
    border-radius: var(--corner-rounding);
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    object-position: 50% 0%; /* hiermit bild verschieben sodass es passt*/
}

.card-design {
    background-color: var(--card-background);
    border-radius: var(--corner-rounding);
    padding: 2rem;
}

@media (max-width: 992px) {
    .kontakt-bild {
        max-height: 18rem;
    }
}

.successBtn {
    transition: all .3s;
    color: var(--White) !important;
    background-color: var(--Success) !important;
    border-color: var(--Success) !important;
    pointer-events: none;
}

.successBtn:hover {
    color: var(--White) !important;
    background-color: var(--Success) !important;
    border-color: var(--Success) !important;
    pointer-events: none;
}


/*=========================== footer ===========================*/

/* #footer{
    background-color: var(--card-background);
    border-radius: var(--corner-rounding) var(--corner-rounding) 0 0;
    margin-top: 2rem;
  } */

.logo-footer {
    padding-top: 1rem;
}

.list-group-item {
    background-color: var(--transparent);
    border: none;
}

.links-footer {
    text-align: end;
}

.footer-link {
    margin-left: auto;
}

@media (max-width: 576px) {
    .links-footer {
        text-align: center;
    }

    .footer-link {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-footer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--transparent)
}


/*=========================== impressum ===========================*/

#impressum {
    max-width: 40rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

#impressum li {
    font-size: 1.25em;
}

#impressum>div>h1 {
    padding-top: 7rem;
}

#impressum>h2 {
    padding-top: 3rem;
}

#impressum>h3 {
    padding-top: 1.75rem;
}

/*=========================== icon card ===========================*/
.icon-card {
    background-color: var(--card-background);
    border-radius: var(--corner-rounding);
    padding: 4rem 0;
    margin: auto;
}

.icon-card .card-title {
    padding: 2rem 0;
}

/*=========================== title text card ===========================*/

.title-text-card {
    background-color: var(--card-background);
    border-radius: var(--corner-rounding);
    padding: 4rem 1rem;
    margin: 0; 


}

.blur-img-background {
    background-color: var(--card-background-dark); 
    background-image: url("../img/sd/blur.jpg");  
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    color:  white;
}

/*=========================== Scroll fade in Animation ===========================*/

@media (min-width: 992px) {

    /*war mal 992*/
    .scroll-fade-in {
        transform: translate(0, 5rem);
        transition: all 1s;
    }

    .scroll-fade-in.visible {
        transform: translate(0, 0);
    }
}


/*=========================== Sonstiges ===========================*/
.hidden {
    display: none;
}

#logo-groupe > div > img {
    width: auto;
    height: 100%;
    max-height: 5rem;
    max-width: 12vw;
    margin: auto;    
    display: block;
}
